<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.viewtreeobserver.ViewTreeObserverActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdapterPatternLinkedInActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".oop.InterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".designpatterns.headfirstver2.inheritanceissues.DisadvantagesOfInheritanceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".oop.OOPActivity"
            android:exported="false" />
        <activity
            android:name=".designpatterns.linkedin.LikedInFoundationsDesignPatternsActivity"
            android:exported="false" />
        <activity
            android:name=".compose.practice.EmptyComposeActivityM3"
            android:exported="false"
            android:label="@string/title_activity_empty_compose_m3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".compose.recipemitch.RecipeMitchActivity"
            android:exported="true" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="true" />
        <activity
            android:name=".concurrentprogramming.coroutines.CoroutinesExceptionActivity"
            android:exported="true" />
        <activity
            android:name=".concurrentprogramming.ConcurrentProgrammingActivity"
            android:exported="true" />
        <activity
            android:name=".views.ViewsActivity"
            android:exported="true" />
        <activity
            android:name=".views.animatedviews.lottie.LottieViewActivity"
            android:exported="true" />
        <activity
            android:name=".designpatterns.DesignPatternsActivity"
            android:exported="false" />
        <activity
            android:name=".oop.ConcreteCLassActivity"
            android:exported="false" />
        <activity
            android:name=".oop.StrongVsWeakISARelationship"
            android:exported="false" />
        <activity
            android:name=".oop.abstractmethodvsinheritedmethod.AbstractVsInteritedMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".designpatterns.headfirstver2.inheritanceissues.DisadvantagesOfInterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".designpatterns.linkedin.adapterpattern.AdapterPatternLinkedInActivity"
            android:exported="false" />
    </application>

</manifest>