<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".longbackgroundtasksIntentService.MyIntentService"
            android:exported="false" />
        <service
            android:name=".longbackgroundtasksJobIntentService.MyJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".longbgtasksjobintentserviceresultreceiver.MyIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".runnableobject.MainActivityRunnableObject"
            android:exported="true">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".challenge1runnable.MainActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".manageconcurrenttaskscoroutines.MainActivityCoroutines"
            android:exported="true"></activity>
        <activity
            android:name=".viewmodelcoroutines.MainActivityCoroutines"
            android:exported="true"></activity>
        <activity
            android:name=".challenge2convertthreadstocoroutinesviewmodel.ViewModelCoroutinesMainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".longbackgroundtasksIntentService.MainActivityIntentService"
            android:exported="true" />
        <activity android:name=".longbgtasksjobintentserviceresultreceiver.JobIntentServiceMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>